<div class = "mb-4" id="<%= dom_id comment %>">
  <div  id="comment-<%= comment.id%>">
    <%= render(CommentComponent.new(comment: comment, group: @group, current_user: current_user)) %>
    </div>
  </div>
</div>
<div class="hidden" id="edit-comment-form-<%= comment.id %>">
  <%= render "comments/form", comment: comment%>
  <%= link_to 'Cancel', nil, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", remote: true, 
          data: {
            controller: "comments",
            action: "comments#toggleEditComment",
            comments_form_param: "edit-comment-form-#{comment.id}",
            comments_comment_param: "comment-#{comment.id}"
          } %>
</div>
<div class="hidden ml-6 mb-10" id="reply-form-<%= comment.id %>">
  <%= render "comments/reply_form", comment: comment, post: @post %>
  <%= link_to 'Cancel', nil, remote: true, 
          class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
          data: {
            controller: "comments",
            action: "comments#toggleNewReply",
            comments_form_param: "reply-form-#{comment.id}"
          } %>
</div>
<% if comment.replies.any? %>
  <% comment.replies.all.each do |reply| %>
    <%= render "comments/reply", comment: reply %>
  <% end %>
<% end %>
