<div id="<%= dom_id group %>">
  <p class="my-5">
    <strong class=" font-medium "><%= link_to  group.name, group %></strong>
    <%# <%= group.name %>
  </p>


  <% if action_name != "show" %>
    <% if !group.users.include?(current_user) && group.creator_id != current_user.id %>
    <%= link_to "Join this group", join_group_path(group), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <%# <%= link_to "Show this group", group, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    
    <% if current_user.id == group.creator_id%>
    <%= link_to 'Edit this group', edit_group_path(group), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <hr class="mt-6">
  <% end %>
</div>
