<div class="" id="post-<%= post.id%>"> 
  <%= render(PostTitleComponent.new(post: post, group: group, current_user: current_user)) %>
  <p class="leading-tight mt-0 mb-2"><%= simple_format(post.content.gsub("\n", "<br>"), class: 'text-justify') %></p>
  <div class="my-3 flex flex-wrap justify-end space-x-2">
    <span
      class="text-gray-500 text-sm flex align-center w-max active:bg-gray-300 transition duration-300 ease">
      &#x2022 Created by 
      <% if post.user == current_user %>
        You
      <% else %>
        <%= post.user.email.split('@')[0].capitalize %>
      <% end %>
    </span>
  </div>
  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
<div class="hidden" id="edit-post-form-<%= post.id %>">
  <%= render "posts/form", post: post %>
  <%= link_to "Cancel", nil, remote: true, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", 
          data: {
            controller: "posts",
            action: "posts#toggleFormCancel",
            posts_form_param: "edit-post-form-#{post.id}",
            posts_post_param: "post-#{post.id}"
          } %>
</div>
